.home-banner{
  background-image: url('kantoor.jpg');
  background-size: cover;
  background-position: center;
  height: 73vh;
  color: #020202;
  font-size: 30px;
  text-align: center;
  padding-top: 55vh;
}// Specific CSS for your home-page
