<div class="container-footer">
<div class="footer">
 <ul class="list">
  <li><a href="https://www.facebook.com/isabelle.rousseau.566" target="_blank"><i class="fab fa-facebook"></i></a></li>
  <li><a href="https://www.instagram.com/isabellerousseau/?hl=nl" target="_blank"><i class="fab fa-instagram"></i></a></li>
  <li><a href="https://www.linkedin.com/in/christa-hospers-62563315/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
</ul>
  </div>
</div>
