<div class="about-banner">
  <h1><strong>Christa Hospers</strong></h1>
  <h2><i>bedrijf en gezondheid</i></h2>
</div>

<div class="container">

<div class="card-product mt-4">
 <%= image_tag "foto.jpg" %>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo odit quasi recusandae, similique necessitatibus nisi. Ab, accusantium consequuntur amet dolorum aliquid! At nostrum consequuntur obcaecati, libero esse, perspiciatis sapiente vero!</p>
  </div>
</div>

</div>
