<div class="home-banner">
  <h1><strong>Christa Hospers</strong></h1>
  <h2><i>bedrijf en gezondheid</i></h2>
</div>

<div class="container">

<h1>Contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
</div>
