<div class="corona-banner">
</div>

<div class="container">

  <div mt-5>
    <h1>Coronavirus en werk: alles wat u moet weten</h1>
    <p>
      Op deze pagina vindt u alle actuele informatie over het coronavirus in relatie tot werk en hoe uw organisatie hiermee kan omgaan. De richtlijnen en informatie van het RIVM en de overige betrouwbare bronnen zijn leidend. Aanvullend daarop biedt het werkgeversadvies u hulp gericht op de werksituatie.

      Let op: Naar aanleiding van de aangescherpte maatregelen om verdere verspreiding van het coronavirus (COVID-19) af te remmen, voeren wij het spreekuur van de bedrijfsarts op dit moment zoveel mogelijk telefonisch. Is het spreekuur van uw medewerker al gepland als een fysiek bezoek, dan nemen we hiervoor contact met de medewerker op om dit om te zetten in een telefonisch consult.
    </p>
  </div>
</div>
