<div class="home-bannerboat">
  <h1><strong>Christa Hospers</strong></h1>
  <h2>bedrijf en gezondheid</h2>
</div>

<div class="container">

<h1>Christa Hospers</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>
