<div class="home-banner">
</div>

<div class="container">


<h1>Christa Hospers</h1>
<h2><i>Bedrijf en gezondheid</i></h2>
<p><i><%= "#{@greet}"%></i></p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, modi minus rem enim, perspiciatis fugit animi expedita hic aspernatur ipsum ratione, cum. Tempora animi, aut voluptatibus odit eligendi assumenda inventore.</p>
</div>
