.corona-banner{
  background-image: url('https://www.rabobank.nl/images/1920x550-corona-panban_291070277.jpg');
  background-size: cover;
  background-position: center;
  height: 73vh;
  color: #020202;
  font-size: 30px;
  text-align: center;
  padding-top: 55vh;
}// Specific CSS for your home-page
